certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.0.1
cryptography==50.0.1
decorator==5.1.1
docopt==0.6.2
gssapi==1.8.2
hdfs==2.7.0
hvac==2.4.0
idna==3.4
kafka-python==3.0.11
kazoo==2.9.0
krb5==0.4.1
prometheus-client==0.15.0
pycparser==3.0
pyhcl==0.4.4
pyOpenSSL==26.4.0
pyspnego==0.7.0
PyYAML==6.0
requests==2.28.2
requests-kerberos==0.14.0
six==1.16.0
urllib3==2.7.0
